[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/danilolc/SDL.git
[submodule "external/SDL_image"]
	path = external/SDL_image
	url = https://github.com/danilolc/SDL_image.git
[submodule "external/SDL_mixer"]
	path = external/SDL_mixer
	url = https://github.com/danilolc/SDL_mixer.git
