bin/
build/
doc/

log.txt

res/episodes/*
!res/episodes/rooster island 1
!res/episodes/rooster island 2

res/data/
res/editor/settings.dat
res/episodes/*/scores.dat

.vscode/
.directory

# Win32 stuff
*.obj
*.ilk
*.pch
*.lib
*.dll
*.exe
*.idb
*.pdb
*.log
*.tlog
*.opensdf
*.suo
*.sdf

win32/sdl2/
win32/pk2/
win32/.vs/

# Android stuff
android/sdl/src/
