/bin/
/build/
/doc/

/res/episodes/*
!/res/episodes/rooster island 1/
!/res/episodes/rooster island 2/

/res/data/
/res/editor/settings.dat
/res/episodes/*/scores.dat

.vscode/
.directory

*.zip
*.out

/mingw/i686/build/
/mingw/i686/PK2/
/mingw/x86_64/build/
/mingw/x86_64/PK2/
